<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ngsz.mall_server.mapper.OrderItemMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO order_item (order_id, order_no, sku_id, product_id, product_name, sku_name, sku_image, price, quantity, total_amount)
        VALUES (#{orderId}, #{orderNo}, #{skuId}, #{productId}, #{productName}, #{skuName}, #{skuImage}, #{price}, #{quantity}, #{totalAmount})
    </insert>

    <select id="findByOrderId" resultType="com.ngsz.mall_server.pojo.OrderItem">
        SELECT * FROM order_item WHERE order_id = #{orderId}
    </select>

    <select id="findByOrderNo" resultType="com.ngsz.mall_server.pojo.OrderItem">
        SELECT * FROM order_item WHERE order_no = #{orderNo}
    </select>

    <select id="findById" resultType="com.ngsz.mall_server.pojo.OrderItem">
        SELECT * FROM order_item WHERE id = #{id}
    </select>
</mapper>
